@media screen and (max-width: 550px) {

.footer {

}

.slhero {
    padding-bottom: 35rem;
}

.hero{
padding-bottom: 35vh;
}

.family-plans{
    padding-top: 15vh;
    padding-bottom: 40vh;
    
}
   
}