@media screen and (max-width: 56rem) {

    * {
        /* font-family: 'Arial Narrow', Arial, sans-serif; */
    }

    main div {
        grid-template-columns: 1fr;
    }

    .navigation {
        flex-direction: column;
        text-align: center;

        margin-left: 0%;
    }

    #hamburger-menu {
        display: unset;
    }

    /* 
    #hamburger-menu::before {

    } */

    .navigation button {

        font-size: 3rem;
        /* background-color: var(--secondary-color);
        color: var(--primary-color); */
        color: var(--secondary-color);
        background-color: var(--primary-color);
        border: none;
        width: 100%;
    }


    button:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color)
    }

    .start,
    .navigation {
        margin-right: unset;
        margin-bottom: 1rem;
        padding-top: 1rem;
    }

    .start a {
        font-weight: 800;
    }

    .navigation .menu {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .menu {
        margin: 0;
        padding: 0;
        /* margin-left: 1rem;
    margin-right: 9%; */
    }


    .menu a {
        /* padding: 1.25rem 40rem; */
        display: none;
    }

    .show a {
        padding: 1.25rem 40rem;
        display: unset;
    }

    #hamburger-menu.open::before {
        content: "x";
        /* font-size: 50%; */
        margin: auto;
    }



    figure {
        /* margin: 1em, 1em, 1em, 1em; */
        margin: auto;
        text-align: left;
    }

    figure img {
        max-width: 90%; /* Allow the image to take full width of its container on smaller screens */
    }
    /* 
    .show-menu a::before {
        display: unset;
    } */


}